.env
**/.env
.env.local
.env.*.local

node_modules/
**/node_modules/

**/artifacts/
**/cache/
**/typechain-types/
**/coverage/
**/coverage.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
hardhat-network.json

.vscode/
.idea/
.DS_Store
Thumbs.db

.yarn